

#header-logo {
    
    text-align: left;
}

header, footer, #body{
    width: 97.5vw;
    text-align: center;
}

hr {
    color: rgba(255, 224, 131, 1);
    background-color: rgba(255, 224, 131, 1);
    height: 5px;
    border-radius: 25%;
}

.logo {
    max-width: 20vw;
    max-height: 30vh;
    text-align: left;
}
#header-links {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding-left: 10vw;
}
.header-link {
    font-size: 2.5vw;
    padding-right: 17vw;
}
.header-link>a{
    color: rgba(255, 193, 7, 1);
}

.header-link>a:focus{
    color: rgba(255, 193, 7, 1);
    text-decoration: none;
}

.header-link>a:hover{
    color: rgba(255, 193, 7, 1);
    text-decoration: none;
}

#body {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

footer {
    align-items: center;
    justify-items: center;
}

#footer-text {
    color: rgba(255, 193, 7, 1);
    font-size: 3vw;
    text-align: center;
}
