.container {
  max-width: 800px;
  margin: 0 auto; /* add this line to center the container */
  padding: 40px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  }
.form-group {
  margin-bottom: 30px;
  flex-basis: 45%; /* divide the columns by using flex-basis */
}

.form-group label {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.form-group input {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.expiry-date {
  display: flex;
  margin-bottom: 30px;
}

.expiry-date input {
  width: 40%;
}

.expiry-date span {
  margin: 0 20px;
  font-size: 20px;
  font-weight: 600;
}

.pay-button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pay-button:hover {
  background-color: #3e8e41;
}
  